footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(49, 81, 110, 0.363);
  color: white;
  text-align: left;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 20px 10px;
}

footer p {
  margin-right: 10px;
  text-shadow: #000 1px 0 10px;
}

a.active {
  color: #0051ff;
}
