table {
  border: 1px black solid;
  padding: 5px;
  min-width: 70%;
}

td {
  border: 1px solid black;
  padding: 5px;
}

.amount__input {
  outline: none;
}

.amount__col {
  width: 50px;
  padding: 5px;
}

input {
  border: none;
  font-size: 1rem;
}
